:root {
  --txt-bg-color: color-mix(in srgb, transparent, white 5%);
}
.italico {
  font-style: italic;
}
.texto {
  color: ;
  background-color: color-mix(in srgb, transparent, white 85%);
  justify-content: center;
  text-align: justify;
  flex: 1;
  max-width: fit-content;
  font-family: "Times New Roman";
}
.background {
  position: absolute;
}

.texto p {
  background-color: transparent;
}
